/* index.html.erb */

/* Навигация */
ul, ul li {
	list-style: none;
}

a {
    text-decoration: none;
}

.header {
    background-color: #ffffff;
    border-radius: 50px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 70px;

    color: #fff;
}

.logo {
    font-weight: 900;
    font-size: 30px;
    color: #000;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-element {
    margin-right: 20px;

    font-size: 17px;
}

.menu-element a {
    color: #000;
    font-weight: 500;

    transition: all 0.2s ease-in;
}

.menu-element a:hover {
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    padding: 5px 8px;
}

.menu-element:last-child {
    margin-right: 0;
}
/* Конец навигации */

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}
.container {
    width: 1300px; 
    margin: 0 auto; 
    padding: 0;
}

.wrapper {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 30px;
    margin-top: 25px;
}

.wrapper_post {
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    padding: 20px;
    margin: 0 auto;
}


.blog_title {
    font-size: 150px;
    color: #403e3d;
}

.blog_post_title {
    text-align: center;
    font-weight: 900;
    font-size: 25px;
}

.user_avatar {
    width: 75px;
    height: 75px;
    border-radius: 100px;
}

/* Ссылки на главной странице */
/* .index_link_to_post {
    display: inline-block;
    margin-top: 10px;

    text-decoration: none;
    color: #000;
    font-size: 20px;
    border: 2px solid #1038d3;
    color: #1038d3;
    padding: 5px 20px;

    transition: all 0.3s ease-in-out;
} */

.index_link_to_post {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background-color: #000;
    padding: 10px 20px;
    color: #fff;
    border-radius: 30px;
    font-size: 19px;
    font-weight: 900;

    transition: all 0.3s ease-in-out;
}

.index_link_to_post:hover {
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
}

/* .index_link_to_post:hover {
    background-color: #1038d3;
    color: #fff;
    border-color: #1038d3;
} */

/* Ссылка на добавление поста */
.add_new_post {
    text-decoration: none;
    color: #1038d3;

    transition: all 0.3s ease-in-out
}

.add_new_post:hover {
    color: #081a62;
}

/* Ссылка на профиль пользователя */
.user_profile {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;

    transition: all 0.3s ease-in-out;
}


.user_profile:hover {
    color: #ffffff;
    background-color: #000;
    border-radius: 100px;
    padding: 10px 10px;
}

/* show.html.erb */
/* Ссылка на изменение поста */
.edit_post {
    display: inline-block;
    margin-top: 5px;
    text-decoration: none;
    background-color: #000;
    padding: 10px 20px;
    color: #fff;
    border-radius: 30px;
    font-size: 19px;
    font-weight: 900;

    transition: all 0.3s ease-in-out;
}

.edit_post:hover {
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
}

.subs_button {
    display: flex;
    margin: 20px auto;
    appearance: none;
    border: 0;
    border-radius: 10px;
    padding: 10px 25px;
    color: #fff;
    background-color: #000;
    font-size: 17px;
    font-weight: 900;
    cursor: pointer;

    transition: all 0.3s linear;
}

.subs_button:hover {
    background-color: #3a3a3a;
}