/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body{
    background-color: #dbdbdb;
    font-family: "Montserrat", serif;
}

.wrapper_text {
    width: 1200px;
    max-width: 100%;
}

.highlight {
    /* background-color: yellow; */
    color: #ff7800;
}

.no_result_search {
    text-align: center;
    font-size: 45px;
    color: #848484;
}

.search_field {
    padding: 8px 15px;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
    font-size: 15px;
    width: 210px;
    margin-right: 10px;
    outline: none;

    &:focus {
    /* border-color: #ff0000; */
    box-shadow: 0 0 5px rgb(177, 177, 177);
    }
}

.search_button {
    background-color: #000;
    border: none;
    color: white;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 33px;
    font-weight: 900;

    transition: all 0.2s linear;

    &:hover {
        background-color: #222222;
    }
}

.like_button {
    border: none;
    color: #000;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 900;
    transition: all 0.2s linear;
}